<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles/globalStyles.css" />
</head>
<body>
    <h1>Hello</h1>


    <!-- <form method="POST" action="home">
        <input name="username"/>
        <input name="password"/>
        <button type="submit">Ok</button>
    </form> -->


    <button onclick="myFunc()">Hii</button>
    
    <script>
        function myFunc(){
            console.log("clicked");
        }

    </script>
</body>
</html>